.containInformation {
    background: var(--bg-color);
    margin-bottom: 4rem;
    min-height: 55rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Seccion de informacion inicial*/
.information {
    margin: 5rem 8rem;
    padding: 1rem;
    width: 45%;
    height: 80%;

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.spanTitle {
    font-size: 1.8rem;
    font-weight: bolder;
    color: var(--primary-dark);
}

.title {
    background: 
    -webkit-repeating-linear-gradient(var(--primary-color), var(--primary-light));
    -webkit-text-fill-color: transparent;
    background-clip: text;

    margin: 1rem 0.4rem;
    font-size: 6rem;
}

.text {
    text-align: justify;
    margin-bottom: 4rem;
    font-size: 1.7rem;
    width: 90%;
}

.buttonC {
    border: var(--glass-border);
    border-radius: var(--radius);
    color: var(--bg-color);
    font-size: 2rem;

    background: 
    -webkit-repeating-linear-gradient(var(--primary-color), var(--primary-light));
    box-shadow: var(--shadow-md);

    padding: 1.4rem;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
}

.buttonC:hover {
    background: 
    -webkit-repeating-linear-gradient(var(--primary-light), var(--primary-light));
    transform: scale(1.2);
    box-shadow: var(--shadow-sm);
}

.imgInformation {
    height: 100%;
    width: 42%;

    box-shadow: var(--shadow-md);
    border-radius: 2rem 0 0 2rem;
    border: 3px solid var(--earth-sand);

    animation: spawnD 0.6s ease-in-out normal forwards;
}

/* Seccion de caracteristicas de la clinica para hacerla mas atractiva*/
.containCaract {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18rem;

    height: 35rem;
    width: 100%;

    margin-bottom: 4rem;
    padding: 2rem;

    border-radius: 1rem;
    border-top: 2px solid var(--earth-sand);
    border-bottom: 2px solid var(--earth-sand);
    box-shadow: var(--shadow-md);

    background: -webkit-linear-gradient(100deg, var(--primary-color) 0%, var(--primary-light) 70%);
}

.card {
    border: 2px solid rgba(0, 0, 0, 0);
    height: 80%;
    width: 16%;

    text-align: center;
    padding: 1rem;

    color: var(--bg-color);

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.containImg{
    border: 2px solid rgba(0, 0, 0, 0);
    height: 50%;
    width: 62%;
    margin: 0.5rem auto;

    background: var(--bg-color);
    border-radius: 50%;
    user-select: none;
}

.containImg img{
    border: 2px solid rgba(0, 0, 0, 0);
    height: 66%;
    margin: 1.5rem auto;
}

.containImg .img2{
    height: 70%;
}

.card h2{
    font-size: 3rem;
    margin: 1.9rem;
}

.card p {
    font-size: 2.2rem;
    margin: 0;
}

.active {
    opacity: 1;
    transform: translateY(0);
}
