/* Estilos Bases, Varible y Fonts */
@import url('./base/reset.css');

/* Estilos de layouts*/
@import url('./layout/header.css');
@import url('./layout/footer.css');

/* Componentes reutilizables */
@import url('./components/slider.css');
@import url('./components//buttons.css');

/* Estilos de las Paginas*/
@import url('./pages/inicio.css');

.active {
    opacity: 1;
    transform: translate(0);
}

.main-container {
    width: 100%;           /* En pantallas pequeñas ocupa todo */
    max-width: 1600px;     /* ¡ESTO ES LO IMPORTANTE! No crecerá más de aquí */
    margin: 0 auto;        /* Centra el "cajón" en la pantalla */
    
    display: flex;
    flex-direction: column;
}