.footer {
    border: 2px solid var(--primary-color);
    border-top: 3px solid var(--primary-color);

    box-shadow: var(--shadow-md);
    background: var(--bg-color);
    border-radius: 7rem 7rem 0 0;

    width: 100vw;
}

.footerBody {
    display: flex;
    justify-content:center;
    padding: 3rem 7rem;

    width: 100%;
    gap: 5rem;
}

.footerBody div {
    color: var(--text-main) ;
    font-size: 1.5rem;
    max-width: 25%;
    padding: 1rem;
}

.footerBody div, .panelNavFooter {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.panelNavFooter .itemNav a {
    gap: 1.12rem;
    font-size: 1.6rem;
}

.titleFooter {
    font-size: 2rem;
    font-weight: bolder;
    margin-left: -1rem;
    color: var(--primary-dark);
}

.logoFooter .logo {
    margin: 0;
}

.logoFooter .imgLogo{
    height: 8.5rem;
}

.footer p , .footer .itemNav {
    font-size: 1.6rem;
}

.titleRedes {
    text-align: center;
    margin: 0;
}

.redes {
    max-height: 14rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.2rem;
}

.redes .itemNav {
    flex: 1 2 calc(50% - 1.1rem);
}

.icon-svg {
    width: 3.6rem;
    height: 3.6rem;
    fill: var(--primary-color); 
    transition: fill 0.3s ease, transform 0.3s ease;
}

.itemNav a:hover .icon-svg {
    fill: var(--primary-dark); 
    transform: translateY(-3px); 
}

.footerCopyr {
    background: -webkit-linear-gradient(100deg, var(--primary-color) 0%, var(--primary-light) 70%);
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 4rem;
    width: 100%;
}

.footerCopyr p {
    color: white;
    font-size: 1.7rem;
}

@media screen and (width <= 800px) {
    .header {
        background: var(--primary-color);
    }






    .footerBody {
        border: var(--border);
        flex-direction: column;
        gap: 2rem;
    }

    .footerBody div {
        border: var(--border);
        max-width: 100%;
    }
    
    .logoFooter {
        text-align: center;
    }

    .redes {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;   

        justify-content: center;
        gap: 3.5rem;       
    }

    .redes .itemNav {
        max-width: min-content;
        margin: 0.5rem; 
    }
}