.footer {
    border: 2px solid var(--primary-color);
    border-top: 3px solid var(--primary-color);

    box-shadow: var(--shadow-md);
    background: var(--bg-color);
    border-radius: 7rem 7rem 0 0;

    width: 100vw;
}

.footerBody {
    display: flex;
    justify-content:center;
    padding: 3rem 7rem;

    width: 100%;
    gap: 6rem;
}

.footerBody div {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    color: var(--text-main) ;
    font-size: 1.5rem;
    max-width: 20%;
    padding: 1rem;
}

.logoFooter .logo {
    margin: 0 auto;
}

.logoFooter .imgLogo{
    max-height: 11rem;
    height: 100%;
    width: 100%;
    scale: 1.15;
}

.footer p {
    font-size: 1.6rem;
    max-width: 30rem;
}

.titleFooter {
    color: var(--primary-dark);
    font-weight: bolder;
    font-size: 2rem;
    margin-left: -1rem;
}

.panelNavFooter {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.panelNavFooter .itemNav {
    font-size: 1.6rem;
    gap: 1.12rem;
}

.titleRedes {
    text-align: center;
    margin: 0;
}

.footerBody .divRed {
    padding: 0;
}

.redes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    gap: 2rem;
}

.redes .itemNav {
    width: fit-content;
    margin: 0 auto;
}

.icon-svg {
    width: 3.6rem;
    height: 3.6rem;
    fill: var(--primary-color); 
    transition: fill 0.3s ease, transform 0.3s ease;
}

.itemNav a:hover .icon-svg {
    fill: var(--primary-dark); 
    transform: translateY(-3px); 
}

.footerCopyr {
    background: -webkit-linear-gradient(100deg, var(--primary-color) 0%, var(--primary-light) 70%);
    display: flex;
    justify-content:center;
    text-align: center;
    min-height: 4rem;
    width: 100%;
}

.footerCopyr p {
    color: white;
    font-size: 1.7rem;
}