header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;         
    right: 0;        
    width: 100%;    
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18rem;

    background: var(--bg-color);
    box-shadow: var(--shadow-md);
    padding: 0.2rem 3rem; 
    z-index: 5;
}

.logo {
    margin-left: 2rem;
}

.imgLogo {
    height: 6rem;
}

.panelNav {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 2rem;
} 

.itemNav {
    list-style: none;
}

.itemNav a  {
    color: var(--primary-color);

    display: flex;
    align-items: flex-end;
    gap: 0.5rem;

    transition: all 0.3s ease-in-out;
}

.itemNav img {
    transition: all 0.3s ease-in-out;
}

.panelNav .itemNav:hover a{
    color: var(--primary-light);
}

.panelNav .itemNav:hover img {
    filter: drop-shadow(1px 1px 4px var(--primary-light))
}