.greenBody {
    background: var(--primary-light);
}

.titleHead {
    min-height: 34rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.titleHead .title {
    text-shadow: 5px 7px 10px rgba(112, 112, 112, 0.336);
    letter-spacing: 0.2rem;
    line-height: 10rem;

    border-right: 1.2rem solid var(--bg-color);
    border-left: 1.2rem solid var(--bg-color);
    box-shadow: var(--shadow-md);
    border-radius: 2rem;
    width: fit-content;
    text-align: center;
    font-size: 6rem;
    padding: 0 7rem;   
    margin: 0 auto;

    max-width: 90rem;
    background: -webkit-linear-gradient(50deg, var(--primary-color) 15%, var(--primary-light) 50%);
    -webkit-text-fill-color: var(--bg-color);
    color: var(--bg-color);
}