.containSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 1.5rem;


    width: 100vw; /* Usamos viewport width para asegurar que toque los bordes */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.slider {
    width: 400%;
    height: 36rem;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 6rem;
}

.sliderCard {
    background: -webkit-linear-gradient(100deg, var(--primary-color) 0%, var(--primary-light) 70%);
    box-shadow: var(--shadow-md);
    border-radius: 5rem;
    height: 90%;
    width: 70%;
}

.card1 {
    background: url("../../resource/promos/promo1.png");
}

.card2 {
    background: url("../../resource/promos/promo2.png");
}

.card3 {
    background: url("../../resource/promos/promo3.png");
}

.card4 {
    background: url("../../resource/promos/promo5.png");
}

.card5 {
    background: url("../../resource/promos/promo4.png");
}

.card1, .card2 , .card3 , .card4 , .card5{
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
}

.containButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;

    width: 90%;
    height: 12rem;
    margin-bottom: 2.5rem;
}

.containButton button {
    width: 5.5rem;
    height: 5.2rem;
    outline: none;
    border-radius: 45%;
    
    box-shadow: var(--shadow-md);
    color: var(--primary-dark);
    font-size: 3rem;
    padding: 1rem;
    border: none;
    transition: all 0.2s ease-in-out;
    z-index: 2;

    margin-top: 2.5rem;
}

.containButton button:hover {
    box-shadow: var(--shadow-sm);
    opacity: 0.9;
}