.containConocenos .containInformation {
    box-shadow: var(--shadow-md);
    border-radius: 6rem;
    margin-bottom: 8rem;
}

.containConocenos .containInformation:last-child {
    margin-bottom: 6rem;
}

.containConocenos .information {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.containConocenos .imgInformation {
    border-radius: 6rem;
    border: none;
}

.containConocenos .information .title {
    margin-bottom: 2rem;
}

.containInformation:nth-child(3) {
    flex-direction: row-reverse;
}

.information .list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    width: 80%;
    text-align: start;
    margin-top: 1rem;
}

.information .list span {
    color: var(--primary-dark);
    font-size: 2.1rem;
}

.information .containButton {
    justify-content: center;
    position: relative;
    display: flex;

    height: min-content;
    margin: 0 auto;
    gap: 2rem;
}

.containButton .button {
    min-width: 20rem;
}