/* Seccion informativa */
.containInformation {
    display: flex;
    justify-content: space-between;

    background: var(--bg-color);
    margin-bottom: 3.5rem;

    width: 100%;
    height: auto;
    min-height: 55rem;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60%;
    height: auto;
    padding: 3.5rem;

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
    gap: 0.8rem;
}

.spanTitle {
    color: var(--primary-dark);
    font-weight: bolder;
    font-size: 1.8rem;
    margin-left: 1rem;
}

.title {
    background: 
    -webkit-repeating-linear-gradient(var(--primary-color), var(--primary-light));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    font-size: 6rem;
}

.text {
    font-size: 1.9rem;
    width: 90%;
}

.imgInformation {
    width: 40%;
    object-fit: cover;

    box-shadow: var(--shadow-md);
    border-radius: 3rem;
    border: 2px solid var(--earth-sand);

    opacity: 0;
    transform: translateX(30px);
    transition: all 0.9s ease-out;
}

/* Seccion de caracteristicas de la clinica para hacerla mas atractiva*/
.containCaract {
    background: -webkit-linear-gradient(100deg, var(--primary-color) 0%, var(--primary-light) 70%);
    box-shadow: var(--shadow-sm);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;

    height: auto;
    min-height: 34rem;

    margin-bottom: 4rem;

    width: 100vw; 
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.caract {
    max-width: 21%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

    color: var(--bg-color);
    padding: 1rem;

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.containImg {
    background: var(--bg-color);
    border-radius: 50%;
    user-select: none;
    padding: 1.9rem;
}

.caract h3 {
    font-size: 3rem;
}

.caract p {
    font-size: 2.2rem;
}

/* Seccion de panel para navegacion en medio de la web */
.sectionPanel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin-bottom: 2rem;
    padding: 0 1rem;
    gap: 2rem;

    opacity: 0;
    transform: translateX(-30px);
    transition: all 0.9s ease-out;
}

.itemCard {
    box-shadow: var(--shadow-md);
    border-radius: var(--radius);
    padding: 1rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    transition: all 0.3s ease-in-out;
}

.titleItem {
    font-size: 1.6rem;
    font-weight: bolder;
    color: var(--primary-dark);
}

.textItem {
    margin: 0.7rem 0;
    font-size: 1.5rem;
    color: var(--text-main);
}

.itemCard:hover {
    box-shadow: var(--shadow-sm);
}

.itemImg {
    max-width: 5rem;
}

.itemCard:first-child {
    background: -webkit-linear-gradient(100deg, var(--primary-color) 0%, var(--primary-light) 70%);
}

.itemCard:first-child .titleItem{
    color: var(--bg-color);
    letter-spacing: 0.2rem;
    font-size: 2rem;
}


/* Seccion informativa 2 sobre las especialidades*/
.informationEspecialistas {
    align-items: center;
    min-height: 50rem;
    height: fit-content;
    margin-bottom: 3rem;
}

.informationEspecialistas .information{
    width: 54%;
    padding: 0 5rem;
    max-height: 55rem;
}

.informationEspecialistas .information .title {
    margin-bottom: 3rem;
}

.informationEspecialistas .imgInformation {
    width: 46%;
    aspect-ratio: 14 / 10; 
    margin-left: 2%;
    object-position: top center; 
}



/* Aside blog de salud informativo*/
.blog {
    box-shadow: inset var(--shadow-md);
    margin-bottom: 4rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;
    width: 100vw; 
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.titleSec {
    background: 
    -webkit-repeating-linear-gradient(var(--primary-color), var(--primary-dark));
    -webkit-text-fill-color: transparent;
    background-clip: text;

    margin: 2rem 0 1rem 0;
    font-size: 3.9rem;
}

.sectionBlog {
    display: flex;
    gap: 3rem;
}

.itemBlog {
    box-shadow: var(--shadow-md);
    cursor: pointer;
    padding: 1rem;

    border-radius: 1rem;
    height: 45rem;
    width: 34rem;

    transition: all 0.2s ease-in-out;
}

.itemBlog:hover {
    box-shadow: var(--shadow-sm);
}

.imgItemBlog {
    border-radius: 1rem;
    height: 24rem;
    width: 100%;
}

.itemBlog div {
    margin-top: 0.9rem;
    height: 40%;
}

.titleItemBlog {
    color: var(--primary-dark);
    font-size: 1.7rem;
}

.textItemBlog {
    color: var(--text-main);
    margin: 1rem 0.2rem;
    font-size: 1.4rem;
}

.blog .button {
    margin: 2rem 0 1.5rem 0;
    letter-spacing: 0.2rem;
    text-align: center;
    width: fit-content;
}